<div class='user-profile'>
<div class='user-profile-top'>
<h1 class='user-profile-heading'><%= @user.username.upcase %>'S LINKS</h1>
<% if current_user == @user %>
<%= link_to "NEW LINK", new_user_link_path(@user), class: 'new-link-button' %> 
<% end %>
</div>
<div class='link-container'>
<% @user.links.each do |link| %>
<div class='link-card'>
<%= image_tag link.img %>
<h1><%=link.title%></h1>
<p><%= link_to "Visit", link.url, class: 'link-button' %> </p>
<% if current_user == @user %>
<p><%= link_to "Link Details", user_link_path(@user, link), class: 'link-button' %> </p>
<% end %>
</div>
<% end %>
</div>
</div>
