<h1>Settings</h1>
<%= form_for @setting, url:  user_settings_path(@user, @setting), html: { method: :put } do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :required => true, :maxlength => 12%>
  <%= f.label :about%>
  <%= f.text_field :about %>
  <%= f.label :embedded%>
  <%= f.url_field :embedded%>
  <%= f.submit %>
<% end %>