<h1>edit</h1>
<%= form_for @link, url: user_link_path(@user, @link), html: { method: :put } do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :required => true, :maxlength => 12%>
  <%= f.label :url%>
  <%= f.text_field :url, :required => true%>
  <%= f.label :img %>
  <%= f.url_field :img, :required => true%>
  <%= f.submit %>
<% end %>

