<h1>New</h1>
<%= form_for @link, url: user_links_path(@user), html: { method: :post } do |f| %>
  <%= f.label :site %>
  <%= f.select(:site, options_for_select([['Snapchat'], ['YouTube'], ['Facebook'], ['Twitter']])) %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= params[:title] %>
  <%= f.label :url, "Username/URL" %>
  <%= f.text_field :url %>
  <%= f.label :img %>
  <%= f.url_field :img %>
  <%= f.submit %>
<% end %>

