<h1 class='form-page-header'>New Link</h1>
<p class='form-page-req-info'># required field</p>
<%= form_for @link, url: user_links_path(@user), html: { method: :post } do |f| %>
  <%= f.label :site, "#TYPE" %>
  <%= f.select(:site, options_for_select([['Snapchat'], ['YouTube'], ['Facebook'], ['Twitter'], ['OTHER']])) %>
  <%= f.label :title, "#TITLE" %>
  <%= f.text_field :title, :required => true, :maxlength => 12 %>
  <%= f.label :url, "#URL" %>
  <%= f.text_field :url, :required => true %>
  <%= f.label :img, "IMAGE" %>
  <%= f.url_field :img %>
  <%= f.submit %>
<% end %>

