<!DOCTYPE html>
<html>
  <head>
    <title>Project4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>

  <body>
  <i class="fas fa-bars nav-opener"></i>
  <nav>
  <%= link_to "#FreeYourBio", root_path, class: 'nav-name' %>
  <%= link_to "Home",  root_path, class: 'nav-link'  %>
  <% if current_user %>
  <%= link_to "Sign Out", destroy_user_session_path, class: 'nav-link', :method => :delete %>
  <div class='nav-username'>
  <% if current_user.admin %> <i class="fas fa-shield-alt"></i> <% end %>
  <%= link_to current_user.username,  user_profile_path(current_user.username)%>
</div>
  <% else %>
  <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
  <%= link_to "Sign In",  new_user_session_path, class: 'nav-link'  %>
  <% end %>

</nav>
<main>
<div class='info'>
      <% if notice %>
       <p class="notice"><%= notice %></p>
       <% end %>
       <% if alert %>
       <p class="alert"><%= alert %></p>
       <% end %>
       </div>
       <div class='content'>
    <%= yield %>
    </div>
    </main>
    <%= javascript_include_tag 'main.js' %>
  </body>
</html>
